configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{icon}{name}";
  font: "Sf Pro Text Medium 12";
  modi: "run";
  show-icons: true;
}

@theme "/home/skye/.config/rofi/theme/spotlight.rasi"
